
.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 20px;
}

.nav-item:hover {
  color:red;
}

.banner {
  height: 600px;
  display: flex;
  align-items: center;

}

.banner::before {
  position: absolute;
  left:0;
  width: 100%;
  height: 600px;
  content:'';
  background: linear-gradient(to right, black, transparent);
}

.banner-info {
  width: 40% ;
  margin-left:30px;
  z-index: 1;
  color:white;
}

.slide-card {
  background-size: cover;
  background-repeat: no-repeat;
}




.text-color {
  color:white;
}

.overlay {
  opacity: 0;
}
.overlay h1 {
  font-size: 25px;
}


.slide-card:hover .overlay {
  opacity: 1;
  background-color: rgba(43,41,41,0.9);
  width: 100%;
  height: 100%;
 
}
.card-margin {
  margin-right: 8px;
}

.movie-detail {
  height: 100%;
  padding-bottom: 0;
}

.movie-detail-poster {
  background-size: cover;
  height: 800px;
  transform: scale(80%);
  position: relative;
  top:-80px;
}

.movie-detail-description {
  color: white;
  width: 80%;
  height: 700px;
}
.movie-detail-title {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.movie-detail-genres {
  margin-top: 20px;
  margin-right: 8px;
}
.movie-detail-etc-1 {
  display: flex;
  width: 350px;
  justify-content: space-between;
  font-size: 20px;
}

.movie-detail-rating-star {
  position: relative;
  top:-3px;
  margin-right: 5px;
  
}

.movie-detail-adult {
  color:red;
  font-weight: 500;
  font-family: fantasy;
}
.movie-detail-overview {
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-top: 1px white solid;
  border-bottom: 1px white solid;

}

.movie-detail-info {
  width: 100px;
  margin-right: 20px;
  margin-bottom: 6px;
}
.movie-detail-etc-2 {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px double white;
}

.movie-detail-trailer {
  margin-top: 30px;
  cursor: pointer;

}

.movie-review {
  color:white;
  padding : 40px;
  border: 2px white solid;
}

.movie-review-author {
  font-size: 20px;
  margin-bottom: 4px;
  padding-top: 20px;
}

.movie-review-content {
  border-bottom: 1px solid white;
  padding-bottom: 20px;

}

.movie-detail-button {
  width: 150px;
  margin-bottom: 10px;
}

.related-movies-poster {
  margin-bottom:15px;

}

.Movies-function-button {
  width: 150px;
  margin-bottom: 10px;
  margin-left: 0;
}

.movie-function-two-button {

  position: relative;
  top:100px;
  padding: 0;
}

.pagination-for-movie {
  color:white
}

.movies-popular-poster {

  margin-bottom: 20px;
}
.movie-card-for-popular {
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.movie-card-for-popular::before {
  position: absolute;
  width: 400px;
  height: 500px;
  content:'';
  background: linear-gradient(to right, black, transparent);
}

.movies-poster-section {
  padding-top:50px
}

.movie-card-info {
  position: relative;
  left:10px;
  top:10px;
  z-index:1;
  color:white;
  width: 300px;
  
}

.movie-card-info-overview {
  font-size: 15px;
  color:#cfd6e1;
  width:180px;
  line-height: 2;
}

.movie-card-info-title {
 font-size: 35px;
}

.pagination-section {
  color:white;
  text-decoration: none;
}

a.page-link {
  background: linear-gradient(60deg,#f79533,#dc143c,#000);
  border: none;
  width: 43px;
  border-radius: 50%;
  color: black;
  transform: scale(120%);
  margin: 15px;
}

.active>.page-link {
  background: linear-gradient(60deg,#f79533,#fff);
  border: none;
  border-radius: 50%;
  color: black;
  width: 43px;
  transform: scale(120%);
  margin: 15px;
}


a.page-link:hover {
  background-color: antiquewhite;
  color: black;
}

.pagination-section {
  display: flex;
  justify-content: center;
}

.page-item:first-child .page-link {
  border-radius: 50%;

}

.page-item:last-child .page-link {
  border-radius: 50%;

}